.deposit-tab .history{
    background-color: transparent;
    box-shadow: none;
}
/* .deposit-tab .history .table thead th {
    padding: 12px 28px;
} */
/* .deposit-tab .history .table tbody tr td {
    padding: 12px 28px;
} */